.suggestions {
  padding: 2px;
  line-height: normal;
}

label.suggestion {
  display: inline;
  padding: 2px 5px;
  margin: 5px;
}

label.suggestion:hover {
  text-decoration:underline;
}

label.suggestion_selected {
  color:#0074BD;
  background:#EEEEEE;
}

.suggestions label.score-1 {
  font-size: .8em;
}

.suggestions label.score-2 {
  font-size: 1.2em;
}

.suggestions label.score-3 {
  font-size: 1.6em;
}

.opencalais_submit {
  display: inline-block;
}

.opencalais-imagry {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  width: 237px;
}

div.opencalais-messages {
  border: 1px solid;
  margin: 6px 0;
  padding: 0px;
}

input.opencalais_submit, a.button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent !important;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  border-image: none;
  border-radius: 0px !important;
  border-style: solid;
  border-width: 0px !important;
  color: #5a5a5a;
  cursor: pointer;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 1.077em;
  font-weight: normal;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  text-align: center;
}

.opencalais_button_holder {
  background-color: #FF9100 !important;
  min-width: 573px !important;
}

.ajax-progress {
  display: none !important;
}

.ajax-progress-throbber {
  display: none !important;
}
.opencalais_button_holder div.throbber {
  display: none;
}

.opencalais_button_holder div.message {
  padding: 3px 125px;
}

/* .keywords_available { background-color: #ccffbb; } */
